.site-header {
  * {
    margin: 0px;
    padding: 0px;
  }

  a {
    text-decoration: none!important;
  }

  .app-title {
    padding-left: 10px;
    font-size: 26px;
    float: left;
    line-height: 56px;
  }

  background-color: #0af;
  min-height: 56px;
  position: relative;
  display: block;
}